mixin uploadForm(upload = {})
  form(action="/add" method="POST" class="card" enctype="multipart/form-data")
    //- File Upload
    label(for="file") File Upload

    - const choices = ['QA', 'Release']
    - const tags = []
      ul.tags
        each choice in choices
          .tag.tag__choice
            input(type="checkbox" id="choice" value=choice name="tag")
            label(for=choice) #{choice}

    //- input(type="file" name="file" id="file" accept="image/gif, image/png, image/jpeg")
    input(type="file" name="file" id="file" accept="image/gif, image/png, image/jpeg, .arc1")
    input(type="submit" value="Save ➡" class="button")